.cart {
  min-height: 100vh;
  width: 100%;
  background: #f1f1f1;
  .header {
    height: 100px;
    line-height: 100px;
    display: flex;
    justify-content: space-around;
    color: var(--lightFontColor);
    .txt {
      flex: 1;
      text-align: center;
    }
  }
  .goods-list {
    width: 100%;
    background: #fff;
    .goods-item {
      display: flex;
      .radio {
        width: 6%;
      }

      .img {
        width: 20%;
      }

      .info {
        width: 68%;
      }

      .count {
        width: 7%;
      }
    }
  }
}